.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#newcomm{
    margin-left: 100%;
    margin-bottom: 2em;
}

#delete-form{
    display: inline;
}

.delete-form{
    display: inline;
}



